/* form {
  border: 3px solid #f1f1f1;
} */

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 5px;
  margin: 8px 0;
  display: inline-block;
  font-size: medium;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: medium;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/* login screen  */
.login-wrapper {
  max-width: 460px;
  margin: 0 auto;
}

.title-header {
  margin-bottom: 2rem;
  text-align: center;
}

.form-wrapper {
  padding: 40px 50px;
  border-radius: 8px;
  box-shadow: 4px 8px 24px 0 rgba(131, 156, 159, 0.16);
  background: #ffffff;
}

.form-group {
  margin-bottom: 32px;
  position: relative;
}

.text-danger {
  color: #dc3545;
}
.from-control {
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #091f1f;
  line-height: 1.429rem;
  border: 1px solid #dbe2de;
  font-size: 1em;
  padding: 10px 18px;
  height: 48px;
  width: 100%;
  background-color: transparent;
}
.form-control.input-error {
  border-color: red !important;
}
/* table  */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.pagination-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pagination-block .pagination {
  margin-top: 15px;
}
.pagination-block .pagination li {
  border-radius: 4px;
}
.pagination-block .pagination li a {
  display: inline-block;
  color: #839c9f;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 4px 2px;
  text-align: center;
}
.pagination-block .pagination li a:hover {
  color: #091f1f;
}

.pagination-block .pagination .disabled a {
  opacity: 0.6;
  cursor: not-allowed;
}
.pagination-block .pagination .active a {
  background-color: #f3f6f6;
  color: #091f1f;
}
.pagination-left {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 15px;
}
.text {
  color: black;
  font-weight: 500;
  font-size: 24px;
}
